body{
    width: 77%;
    margin-left: 11%;

}
.jumbotron{
    background-color: red;
    text-align: center;
    margin-bottom: 50px;
}
.baslik{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: navy;    
}

.kutu{
    border: 1px solid grey;
    margin-bottom: 20px;
}
.aciklama{
    background-color: lightpink;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid black;
}
table{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th{
    padding-left: 50px;
    border-bottom: 1px solid black;    
}
td{
    padding-left: 50px;
    border-bottom: 1px solid lightpink;
}
.animated {
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: initial;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }